body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: c.$white;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: c.$gray;
}

.navbar a {
  text-decoration: none;
  color: c.$white;
  margin-left: 1.5rem;
}

.navbar a:hover {
  opacity: 0.7;
}